<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8" />

    <title>Torbok - Toronto Universities Book Trade</title>
    <link rel="stylesheet" type="text/css" href="../static/css/core.css"/>
</head>
<body>
<div id="content" class="cf">
    <div id="control-panel">
        <img id="logo" src="../static/imgs/logo.png" onclick="location.href='/'"/>
        <p id="site-description">
            Welcome to Torbok! Students at Universities in the Greater
            Toronto Area sell books out here! If you have a book to sell
            then post your book offering by clicking the 'Post Book' button below. If you've
            come to buy books then use the search box to search for the book you want!
        </p>

        <form id="search-form" method="get" action="/search">
            <input type="text" id="search-box" name="query" placeholder="Search Books" maxlength="150" autocomplete="off"/>
        </form>
        <ul id="search-suggestions"></ul>
        <button class="nice-button" id="bu-form-post-book">Post Book</button>
        <a class="nice-button green-nice-button" href="mybooks.html" id="my-books">My Posted Books</a>
        <p id="logged-in">
            You are Signed In as <span id="cur-user-email">matt.jacks@mail.utoronto.ca</span><br>
            <a href="/logout" class="normal-link light-link">[ Sign Out ]</a>
            <a href="/edit-account.html" class="normal-link light-link">[ Edit Account ]</a>
        </p>
    </div>

    <div id="auth">
        <h3 class="white-text">Account Settings</h3>
        <button class="nice-button" id="bu-form-change-password">Change Password</button>
        <button class="nice-button" id="bu-delete-account">Terminate Account</button>
    </div>

</div>
<script src="../static/js/jquery.js" defer></script>
<script src="../static/js/powerhouse.js"></script>
<script src="../static/js/time.js" defer></script>
<script src="../static/js/popup.js" defer></script>
<script src="../static/js/core.js" defer></script>
<script src="../static/js/search.js" defer></script>
</body>

</html>