<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8"/>

    <title>Torbok - Toronto Universities Book Trade</title>
    <link rel="stylesheet" type="text/css" href="../static/css/core.css"/>
</head>
<body>
<div id="content" class="cf">
    <div id="control-panel">
        <img id="logo" src="../static/imgs/logo.png" onclick="location.href='/'"/>

        <p id="site-description">
            Welcome to Torbok! Students at Universities in the Greater
            Toronto Area sell books out here! If you have a book to sell
            then post your book offering by clicking the 'Post Book' button below. If you've
            come to buy books then use the search box to search for the book you want!
        </p>

        <form id="search-form" method="get" action="/search">
            <input type="text" id="search-box" name="query" placeholder="Search Books" maxlength="150" autocomplete="off"/>
        </form>
        <ul id="search-suggestions"></ul>
        <button class="nice-button" id="bu-form-post-book">Post Book</button>
        <a class="nice-button green-nice-button" href="mybooks.html" id="my-books">My Posted Books</a>
    </div>

    <div id="auth">
        <h3 class="white-text">Email Password Reset Link</h3>
        <div class="form-like" >
            <input type="text" name="email" placeholder="Email Address" maxlength="255"/>
            <input type="submit" class="nice-button" id="bu-email-password-reset" value="Email"/>
            <ul id="form-problems">
            </ul>
            <p class="white-text">
                <a href="login.html" class="normal-link light-link" style="display:block; text-align: right">
                    [ Login ]
                </a>
                <a href="register.html" class="normal-link light-link" style="display:block; text-align: right">
                    [ Register Account ]
                </a>
            </p>
        </div>
    </div>

</div>
<script src="../static/js/jquery.js" defer></script>
<script src="../static/js/powerhouse.js"></script>
<script src="../static/js/time.js" defer></script>
<script src="../static/js/popup.js" defer></script>
<script src="../static/js/core.js" defer></script>
<script src="../static/js/search.js" defer></script>
</body>

</html>