<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8"/>

    <title>Torbok - Toronto Universities Book Trade</title>
    <link rel="stylesheet" type="text/css" href="../static/css/core.css"/>
</head>
<body>
<div id="content" class="cf">
    <div id="control-panel">
        <img id="logo" src="../static/imgs/logo.png" onclick="location.href='/'"/>

        <p id="site-description">
            Welcome here! Torbok is a book trade network for students studying
            at universities in the Greater Toronto Area. If you have a book to sell
            then post your book offering by clicking the 'Post Book' button below. If you've
            come to buy books then use the search box to search for the book you want or
            use <button id="notify-me-info" class="normal-link light-link">'Notify Me'</button> to instantly get notified
            when a book is posted matching a set of keywords which you define.
        </p>

        <form id="search-form" method="get" action="/search">
            <input type="text" id="search-box" name="query" placeholder="Search Books" maxlength="100" autocomplete="off"/>
        </form>
        <ul id="search-suggestions"></ul>
        <button class="nice-button" id="bu-form-post-book">Post Book</button>
        <a class="nice-button green-nice-button" href="mybooks.html" id="my-books">My Posted Books</a>
    </div>

    <div id="auth">
        <h3 class="white-text">Enter Torbok</h3>
        <form action="/login" id="login" method="post">
            <input type="text" name="email" placeholder="Email Address" maxlength="255"/>
            <input type="password" name="password" placeholder="Password" maxlength="100"/>
            <input type="submit" class="nice-button" value="Enter Torbok"/>
            <ul id="form-problems">
            </ul>
            <p class="white-text">
                <a href="email-password-reset.html" class="normal-link light-link" style=" display:block; text-align: right">
                    [ Forgot Password ]
                </a>
                <a href="register.html" class="normal-link light-link" style="display:block; text-align: right">
                    [ Register Account ]
                </a>
            </p>
        </form>
    </div>

</div>
<script src="../static/js/jquery.js" defer></script>
<script src="../static/js/powerhouse.js" defer></script>
<script src="../static/js/time.js" defer></script>
<script src="../static/js/popup.js" defer></script>
<script src="../static/js/core.js" defer></script>
<script src="../static/js/search.js" defer></script>
<script defer>
             window.onload = function(){
                 $('[name="email"]').focus();
             }
</script>
</body>

</html>